<form class="form-horizontal" #loginForm='ngForm' (ngSubmit)="OnSubmit(Email.value,Password.value)">
  <div class="form-group">
    <label for="Email" class="cols-sm-2 control-label">Email</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
        <input type="text" #Email ngModel class="form-control" name="Email" id="Email"  placeholder="Enter your Email" required/>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="Password" class="cols-sm-2 control-label">Password</label>
    <div class="cols-sm-10">
      <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
        <input type="password" #Password ngModel class="form-control" name="Password" id="password"  placeholder="Enter your Password" required/>
      </div>
    </div>
  </div>

  <div class="form-group ">
    <input [disabled]='!loginForm.valid' type="submit" value="Sign-in" class="btn btn-primary btn-lg btn-block login-button"/>
  </div>
  <div class="login-register">
      <a href="">reset password</a>
       </div>
</form>